/* Variable */
:root {
  --clr-white: white;
  --clr-primary: rgba(244, 173, 97, 1);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  font-family: "Glory", sans-serif;
  text-align: center;
  color: var(--clr-white);
  background-color: rgba(244, 173, 97, 0.5);
}

nav {
  width: 100%;
  height: auto;
}

span:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

h1 {
  margin: 50px 0;
  text-align: center;
  font-size: 6.5rem;
  color: var(--clr-white);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
#nav-ul {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
}

#nav-ul li {
  margin-left: 30px;
}

#nav-ul li:nth-child(3) {
  margin-left: auto;
}

#nav-ul li:last-child {
  margin-left: 15px;
}

#nav-ul a,
#nav-ul span {
  padding: 3px;
  border-radius: 5px;
  font-size: 4rem;
  text-decoration: none;
  color: var(--clr-primary);
  background-color: var(--clr-white);
}

#nav-ul a:hover,
#nav-ul span:hover {
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-primary);
}

/* Input form */
form {
  width: 100%;
}

input,
button {
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  background: var(--clr-white);
}

input {
  min-width: 30%;
}

#add-button {
  margin-left: 3px;
}

/* Buttons */
.btn {
  background-color: var(--clr-white);
  color: rgba(244, 173, 97, 1);
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(244, 173, 97, 1);
  color: var(--clr-white);
}

.delete-btn {
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  margin-left: 3px;
}

/* List Items */
#todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#todo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo span {
  margin-left: 4px;
  background-color: var(--clr-white);
}

#todo span:hover {
  background-color: var(--clr-primary);
}

.task {
  padding: 5px 10px;
  margin-top: 15px;
  font-size: 2.8rem;
  color: gray;
  border-radius: 5px;
  min-width: 30%;
  background-color: var(--clr-white);
}

.fa-trash-alt {
  pointer-events: none;
}
