/* Variable */
:root {
  --clr-white: white;
}

/* -webkit-border-radius: 0;
-moz-border-radius: 0; */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: auto;
  height: auto;
  font-family: "Glory", sans-serif;
  background-color: rgba(244, 173, 97, 0.5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 150px 0 50px;
  text-align: center;
  font-size: 6.5rem;
  color: var(--clr-white);
}

form input,
form button {
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background: var(--clr-white);
  padding: 10px;
}

form input {
  min-width: 30%;
}

#add-list {
  margin-left: 3px;
}

.btn {
  background-color: var(--clr-white);
  color: rgba(244, 173, 97, 1);
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(244, 173, 97, 1);
  color: var(--clr-white);
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding-left: 10px;
  width: 33%;
  margin-top: 20px;
  list-style: none;
  font-size: 2.8rem;
  background-color: var(--clr-white);
}

.li-hidden {
  display: none;
}
